{% extends "base.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block body %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#projects" data-toggle="tab">Projects</a></li>
                    <li><a href="#technologies" data-toggle="tab">Technologies</a></li>
                    <li><a href="#services" data-toggle="tab">Services</a></li>
                    <li><a href="#images" data-toggle="tab">Images</a></li>
                    <li><a href="#users" data-toggle="tab">Utilisateurs</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade in active adminTable" id="projects">
                {% if projects %}
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Nom du projet</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% for project in projects %}
                                <tr>
                                    <td>{{ project.name }}</td>
                                    <th>
                                        {% if project.isPublished %}
                                            <a href="/admin/project/unpublish/{{ project.id }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span>Désactiver</button></a>
                                        {% else %}
                                            <a href="/admin/project/publish/{{ project.id }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Publier</button></a>
                                        {% endif %}
                                    </th>
                                    <td class="text-right">
                                        <a href="/admin/project/adddetails/{{ project.id }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Détails</button></a>
                                        <a href="/admin/project/edit/{{ project.id }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Editer</button></a>
                                        <a href="/admin/project/delete/{{ project.id }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span>Supprimer</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-warning">Aucun projet trouvé.</div>
                {% endif %}
                <a href="/admin/project/add"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Ajouter projet</button></a>
            </div>
            <div class="tab-pane fade adminTable" id="technologies">
                {% if technologies %}
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Technologie</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% for technology in technologies %}
                                <tr>
                                    <td>{{technology.name}}</td>
                                    <td class="text-right">
                                        <a href="/admin/technology/delete/{{technology.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span>Supprimer</button></a>
                                        <a href="/admin/technology/edit/{{technology.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Editer</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-warning">Aucune technologie trouvée.</div>
                {% endif %}
                <a href="/admin/technology/add"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Ajouter technologie</button></a>
            </div>
            <div class="tab-pane fade adminTable" id="services">
                {% if services %}
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Element</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% for service in services %}
                                <tr>
                                    <td>{{service.name}}</td>
                                    <td class="text-right">
                                        <a href="/admin/service/delete/{{service.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span>Supprimer</button></a>
                                        <a href="/admin/service/edit/{{service.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Editer</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-warning">Aucune prestations trouvée.</div>
                {% endif %}
                <a href="/admin/service/add"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Ajouter prestations</button></a>
            </div>
            <div class="tab-pane fade adminTable" id="images">
                {% if images %}
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Projet</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% for image in images %}
                                <tr>
                                    <td><img src="/img/{{image.project.slug}}/reducedsize/{{image.filename}}" alt="{{image.alt}}" class="mini"></td>
                                    <td>{{image.project.name}}</td>
                                    <td class="text-right">
                                        <a href="/admin/image/delete/{{image.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span>Supprimer</button></a>
                                        <a href="/admin/image/edit/{{image.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Editer</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-warning">Aucune image trouvée.</div>
                {% endif %}
            </div>
            <div class="tab-pane fade adminTable" id="users">
                {% if users %}
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% for user in users %}
                                <tr>
                                    <td>{{user.username}}</td>
                                    <td class="text-right">
                                        <a href="/admin/user/delete/{{user.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span>Supprimer</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-warning">Aucun utilisateur trouvé.</div>
                {% endif %}
                <a href="/admin/user/add"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Ajouter utilisateur</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
