<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Danid - {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css">
            <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <link href="{{ app.request.basepath }}/favicon.ico" rel="icon" type="image/x-icon" />
        {% endblock %}
    </head>
    <body>
        <header name="header">
          <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                  <img src="{{ app.request.basepath }}/img/logo.min.svg" alt="Logo du site danid.ch">
                </a>
              </div>
              <div class="collapse navbar-collapse" id="menu-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/portfolio">Portfolio</a></li>
                  <li><a href="/qui-suis-je">Qui suis-je ?</a></li>
                  <li><a href="/contact">Contact</a></li>
                  {% if app.security.token and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="/admin"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ app.request.basepath }}/lib/jquery/jquery-2.1.4.min.js"></script>
            <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-35938583-1', 'auto');
                ga('send', 'pageview');

            </script>
        {% endblock %}
    </body>
</html>
