{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Contact {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <div class="col-sm-12">
                <h1>Contact</h1>
                <p>En remplissant le formulaire ci-dessous vous pourrez prendre directement contact avec moi. Je me ferai un plaisir de vous répondre dans les plus brefs délais.</p>
            </div>
            <div class="col-sm-12">
                {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-warning">
                    {{ flashMessage }}
                </div>
                {% endfor %}

                <div class="well">
                {{ form_start(contactForm, { 'attr': {'class': 'form-horizontal'} }) }}
                    <div class="form-group">
                        {{ form_label(contactForm.lastName, 'Nom', { 'label_attr':  {
                            'class': 'col-sm-4 control-label'
                        }}) }}
                        <div class="col-sm-6">
                            {{ form_errors(contactForm.lastName) }}
                            {{ form_widget(contactForm.lastName, { 'attr':  {
                                'class': 'form-control',
                                'rows': '8'
                            }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(contactForm.firstName, 'Prénom', { 'label_attr':  {
                            'class': 'col-sm-4 control-label'
                        }}) }}
                        <div class="col-sm-6">
                            {{ form_errors(contactForm.firstName) }}
                            {{ form_widget(contactForm.firstName, { 'attr':  {
                                'class': 'form-control',
                                'rows': '8'
                            }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(contactForm.email, 'Adresse e-mail', { 'label_attr':  {
                            'class': 'col-sm-4 control-label'
                        }}) }}
                        <div class="col-sm-6">
                            {{ form_errors(contactForm.email) }}
                            {{ form_widget(contactForm.email, { 'attr':  {
                                'class': 'form-control',
                                'rows': '8'
                            }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(contactForm.subject, 'Sujet', { 'label_attr':  {
                            'class': 'col-sm-4 control-label'
                        }}) }}
                        <div class="col-sm-6">
                            {{ form_errors(contactForm.subject) }}
                            {{ form_widget(contactForm.subject, { 'attr':  {
                                'class': 'form-control'
                            }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(contactForm.message, 'Message', { 'label_attr':  {
                            'class': 'col-sm-4 control-label'
                        }}) }}
                        <div class="col-sm-6">
                            {{ form_errors(contactForm.message) }}
                            {{ form_widget(contactForm.message, { 'attr':  {
                                'class': 'form-control',
                                'rows': '8'
                            }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-3">
                            <input type="submit" class="btn btn-primary" value="Envoyer" />
                        </div>
                    </div>
                {{ form_end(contactForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
