{% extends 'base.html.twig' %}

{% block title %}{{ title }}{{ project.name }}{% endblock %}

{% block body %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="well">
{{ form_start(imageForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(imageForm.filename, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(imageForm.filename) }}
            {{ form_widget(imageForm.filename, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(imageForm.alt, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(imageForm.alt) }}
            {{ form_widget(imageForm.alt, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(imageForm.title, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(imageForm.title) }}
            {{ form_widget(imageForm.title, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a href="/admin/project/adddetails/{{project.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span>Vers détail projet</button></a>
        </div>
    </div>
{{ form_end(imageForm) }}
</div>
{% endblock %}
