{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Qui suis-je ? {% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="container">
			<div class="col-sm-12">
				<h1>Qui suis-je ?</h1>
			</div>
			<div class="col-md-6 col-md-push-6">
				<div class="col-sm-12">
					<img src="{{ app.request.basepath }}/img/carteVisite.jpg" alt="Photo de Daniele Andriani"/>
				</div>
				<div class="col-sm-12 info-details">
					<p>Suisse</p>
					<p>Marié</p>
					<p>03.03.1987</p>
					<address>Felsenaustrasse 18<br/>3004 Berne<br/>Suisse</address>
				</div>
				<div class="col-sm-12 info-details">
					<a href="tel:+41 79 348 13 40"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+41 79 348 13 40</a>
					<a href="tel:+41 31 302 66 60"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+41 31 302 66 60</a>
					<a href="/contact"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>Me contacter par e-mail</a>
					<a href="www.danid.ch"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>www.danid.ch</a>
				</div>
				<div class="col-sm-12 info-details">
					<a href="https://www.linkedin.com/in/danieleandriani"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Mon profil Linked-In</a>
					<a href="https://www.facebook.com/daniele.andriani"><i class="fa fa-facebook-official" aria-hidden="true"></i>Mon profil Facebook</a>
					<a href="https://bitbucket.org/Danid_ch/"><i class="fa fa-bitbucket"></i>Mon compte BitBucket</a>
					<a href="{{ app.request.basepath }}/pdf/AndrianiDaniele_CV.pdf" aria-hidden="true"><i class="fa fa-file-pdf-o"></i>Télécharger mon CV</a>
				</div>
			</div>
			<div class="col-md-6 col-md-pull-6">
				<p>Bonjour, je me présente, je m'appelle Daniele Andriani et je suis ingénieur des médias, avec orientation gestion des médias imprimés et interactifs, diplômé de la HEIG-VD (département COMEM+) en 2013.</p>
				<p>Depuis novembre de la même année, je mets mes compétences au service de One Partner SA, intégrateur Abacus, en tant que consultant technique et développeur JAVA.</p>
				<p>Avant ça j'ai passé la quasi-totalité de mes vacances, en tant qu'étudiant, dans différentes entreprises afin d'acquérir de l'expérience et faire mes premiers pas dans la vie active aussi tôt que possible.</p>
				<p>Parmi mes expériences, il a:
					<ul>
						<li>Un stage de trois mois auprès de Ivimédia SA, à Delémont dans le Jura, en tant que développeur web. J'y ai notamment participé à la mise en place de leur système de ticketing, la migration vers une nouvelle solution de gestion des versions et le développement de plusieurs projets de site web. Surtout, j'y ai fait mon travail de Bachelor intitulé <em>«Etude de faisabilité de l'implémentation d'un progiciel de gestion ERP/CRM»</em>.</li>
						<li>Un stage de deux mois auprès de Crisalix SA, dans le Parc scientifique de l'<abbr title="Ecole Polytechnique Fédérale de Lausanne">EPFL</abbr>, afin de développer une stratégie de présence sur les médias sociaux, de trouver les outils afin d'appliquer cette dernière et de l'édition vidéo.</li>
						<li>Plusieurs stages de trois semaines à quatre mois auprès de TeamCo Creative Agency, à St-Sulpice, pour du développement de site internet, de la création de visuels et de la gestion des contacts clients.</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
