{% extends 'base.html.twig' %}

{% block title %}Projet - {{ project.name }}{% endblock %}

{% block body %}

        <div class="container-fluid">
            <div class="container">
                {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
                {% endfor %}
                <div class="col-sm-12">
                    <h2>{{ project.name }}</h2>
                </div>
                <div class="col-md-4">
                    <h3>Description</h3>
                    <p>{{ project.description }}</p>
                    <a href="/admin/project/edit/{{project.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Modifier</button></a>
                </div>
                <div class="col-md-4">
                    <h3>Technologies</h3>
                    <h4>Add</h4>
                    <ul>
                        {% for tech in nonRelatedTechs %}
                            <li>
                                <a href="/admin/projtech/add/{{ project.id }}/{{ tech.id }}">{{ tech.name }}</a>
                            </li>
                        {% else %}
                            <li>All technologies already added.</li>
                        {% endfor %}
                    </ul>
                    <h4>Delete</h4>
                    <ul>
                        {% for projtech in projtechs %}
                            <li>
                                <a href="/admin/projtech/delete/{{ projtech.id }}">{{ projtech.technology.name }}</a>
                            </li>
                        {% else %}
                            <li>No technology added yet.</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Services</h3>
                    <h4>Add</h4>
                    <ul>
                        {% for serv in nonRelatedServs %}
                            <li>
                                <a href="/admin/projserv/add/{{ project.id }}/{{ serv.id }}">{{ serv.name }}</a>
                            </li>
                        {% else %}
                            <li>All services already added.</li>
                        {% endfor %}
                    </ul>
                    <h4>Delete</h4>
                    <ul>
                        {% for projserv in projservs %}
                            <li>
                                <a href="/admin/projserv/delete/{{ projserv.id }}">{{ projserv.service.name }}</a>
                            </li>
                        {% else %}
                            <li>No service added yet.</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-12">
                    <h3>Images</h3>
                    {% if images %}
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Projet</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                {% for image in images %}
                                    <tr>
                                        <td><img src="/img/{{image.project.slug}}/reducedsize/{{image.filename}}" alt="{{image.alt}}" class="mini"></td>
                                        <td>{{image.project.name}}</td>
                                        <td class="text-right">
                                            <a href="/admin/image/delete/{{image.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span>Supprimer</button></a>
                                            <a href="/admin/image/edit/{{image.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Editer</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">Aucune image trouvée.</div>
                    {% endif %}
                    <a href="/admin/image/add/{{project.id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Ajouter image</button>
                    </div>
            </div>
        </div>
{% endblock %}
