{% extends 'base.html.twig' %}

{% block title %}Projet - {{ project.name }}{% endblock %}

{% block body %}

        <div class="container-fluid">
            <div class="container">
                <div class="col-sm-12">
                    <h2>{{ project.name }}</h2>
                </div>
            <div class="col-md-8">
                <div id="carousel-{{project.slug}}" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    {% for image in images %}
                        <li data-target="#carousel-{{project.slug}}" data-slide-to="{{loop.index0}}" {% if loop.index0 == 0 %}class="active"{% endif %}></li>
                    {% endfor %}
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    {% for image in images %}
                        <div class="item{% if loop.index0 == 0 %} active{% endif %}">
                            <img src="{{ app.request.basepath }}/img/{{ image.project.slug }}/reducedsize/{{ image.filename }}" alt="{{ image.alt }}" title="{{ image.title }}"/>
                        </div>
                    {% endfor %}
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-{{project.slug}}" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-{{project.slug}}" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                  </a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Description</h3>
                <p>{{ project.description }}</p>
                {% if project.onlineDate %}
                    <p>Mis en ligne le: <time datetime="{{ project.onlineDate|date("Y-m-d") }}">{{ project.onlineDate|date("d.m.Y") }}</time></p>
                {% endif %}
                <h3>Prestations</h3>
                {% if projservs %}
                    <ul>
                        {% for projserv in projservs %}
                            <li>{{ projserv.service.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <h3>Technique</h3>
                {% if projtechs %}
                    <ul>
                        {% for projtech in projtechs %}
                            <li>{{ projtech.technology.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            </div>
        </div>
{% endblock %}
