body, html{
	font-family:'Avenir',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	margin:40px 0 0 0;
	padding:0;
}

nav.navbar {
	background-color: #ed6639;
	margin:0;
	display:block;
	height: 75px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

img{
	max-width: 100%;
}

img.mini {
	max-width: 200px;
}

nav *{
	height:75px;
}

nav img {
	max-width: 75px;
	height: auto;
}

.navbar-collapse {
	border-top: 0;
	height: auto;
}

.navbar-nav{
	height: auto;
	background-color: #ed6639;
	margin: 0;
}

.navbar-toggle{
	margin-top: 2px;
}

.navbar-toggle .icon-bar{
	background-color: #FFF;
}

.navbar-brand{
	height: 75px;
}

ul.nav li a{
	color: #FFF;
	font-size: 20px;
	padding-top: 29px;
}

ul.nav-tabs li a{
	color: #555;
}
ul.nav-tabs li a:hover{
	color: #FFF;
}

.nav > li > a:hover, .nav > li > a:focus{
	background-color: rgb(255, 119, 80);
}

div.container-fluid:nth-of-type(even) {
	background-color: #fcfcfc;
}

div.carousel div.item{
	overflow: hidden;
}

div.carousel div.item img {
	margin: auto;
	max-height: 400px;
}

.carousel-indicators li{
	border-color: #ed6639;
}

.carousel-indicators li.active{
	background-color: #ed6639;
}

div.carousel a.carousel-control {
	background-image: none;
	color: #ed6639;
}

div.info-details a{
	display: block;
}

div.info-details p {
	margin:0;
}

div.info-details address {
	margin: 10px 0;
}

div.col-sm-12 {
	margin: 10px 0;
}

a:link, a:visited {
	color: #ed6639;
}

a:hover, a:active {
	color: #000;
	text-decoration: none;
}

a span.glyphicon, a i.fa {
	margin-right: 10px;
}

.btn-primary {
	background-color: #ED6639;
	border-color: #ED6639;
}

.btn-primary:hover {
	background-color: #FF7750;
	border-color: #FF7750;
}
